#presented{
  color:#6BA0E8;

}

#about{
  float: left;
  width: 40%;
  padding: 2em;
  margin-left: 5em;
  letter-spacing: .05em;
}
#whereandwhen{
  float: left;
  width: 40%;
  padding: 2em;
  letter-spacing: .2em;
}

header{
text-align: center;
border: 5px dashed #F900FF;
margin-left: 5em;
margin-right:5em;
}
body{
background-color:
#0DFFDC;

 }
